*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.classificacao__ultimos_jogos {
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin-left: 4px;
    overflow: hidden;
    width: 7px;
}
.classificacao__ultimos_jogos--v{
    background-color: aquamarine;
}
.classificacao__ultimos_jogos--e{
    background-color: rgba(40, 41, 41, 0.349);
}
.classificacao__ultimos_jogos--d{
    background-color: #ff2200;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* overflow-y: hidden; */
    /* margin: 2px; */
    height: 100vh;
}

.tabela, th, td{
    border-collapse: collapse; 
    padding: 10px;
    /* text-align: left; */
    border: 2px solid rgb(160 160 160);
}
th:first-child{
    border-left: 3px solid rgb(160 160 160);
}
td:first-child{
    font-weight: bold;
    border-left: 3px solid;
}
.g4 > td{
    border-left-color:rgb(3, 83, 230) ;
}
.pre-liberta > td{
    border-left-color:rgba(45, 184, 45, 0.938)
}
.sula >td {
    border-left-color:rgb(230, 226, 3)
}
.z4 > td{
    border-left-color: #ff2200;
}
.title{
    text-align: center;
}

